@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto bg-img bg-cover" style="background-image: url('https://media.istockphoto.com/id/1282723854/photo/empty-classroom-during-covid-19-pandemic.jpg?s=2048x2048&w=is&k=20&c=jhaq1pkfjJH3l53Jt49MLcqx79nQ3MBsbd5UKdWQuN8='); height:100%; width:100%;">
    <div class="col-md-4">
        <div class="row no-gutters mb-4">
            <div class="col p-4 mb-4 ">
                <h1 class="text-opacity-50">Welcome to Makini Primary School! </h1>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text">
                    Sample welcome message!!
                    At Makini Primary School, we believe in providing quality education and nurturing young minds to reach their full potential. Our school is a vibrant and inclusive learning community dedicated to academic excellence, personal growth, and character development.

                    With a rich history of 3 years, Makini Primary School has been at the forefront of providing holistic education that focuses on the intellectual, social, emotional, and physical development of our students. We pride ourselves on fostering a safe and supportive environment where each child can thrive and explore their unique talents.

                    Our dedicated team of experienced educators is committed to delivering a well-rounded education that prepares students for success in the ever-changing world. We provide a comprehensive curriculum that blends academic rigor with a range of extracurricular activities, enabling students to develop critical thinking, creativity, collaboration, and leadership skills.

                    As you explore our website, you will find valuable information about our courses, faculty, facilities, and various programs that contribute to the overall growth and development of our students. We offer a diverse range of subjects and co-curricular activities that cater to the interests and passions of our students.

                    We believe that strong partnerships between the school, parents, and the wider community are essential for the success of our students. We encourage open communication and collaboration to ensure a supportive network that nurtures the potential of each child.

                    We invite you to delve into our website, where you will find detailed information about our academic offerings, events, achievements, and the warm and inclusive community that defines Makini Primary School.

                    Thank you for visiting Makini Primary School online. We look forward to welcoming you into our school community and embarking on an exciting journey of growth and learning together.

                </p>

                <p>
                    School Principal
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters mb-4">
            <div class="col p-4 d-flex flex-column">
               
                
            </div>
        </div>
    </div>
</div>

